<div class="d-flex login-container">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="px-5 w-100">
            <div class="py-3">
                <img src="assets/datafy.png">
            </div>
            <div class="welcome-text py-2">
                Welcome to Datafly!
            </div>
            <div class="pb-3">
                Already have an account? <span class="heighlight">Login</span>
            </div>
            <div class="w-100">
                <div class="py-2">
                    <div class="align-self-baseline">Name<span class="heighlight">*</span></div>
                    <input class="" type='text' name='name' [(ngModel)]='userModel.name'>
                </div>
                <div class="py-2">
                    <div class="align-self-baseline">Business Name<span class="heighlight">*</span></div>
                    <input class="" type='text' name='businessName' [(ngModel)]='userModel.businessName'>
                </div>
                <div class="py-2">
                    <div class="align-self-baseline">Email<span class="heighlight">*</span></div>
                    <input class="input" type='email' name='email' [(ngModel)]='userModel.email' >
                </div>
                <div class="py-2">
                    <div class="align-self-baseline">Phone<span class="heighlight">*</span></div>
                    <input class="input" type='number' name='phone' [(ngModel)]='userModel.phone' >
                </div>
                <div class="py-2">
                    <div class="align-self-baseline">Industry Type</div>
                    <input class="input" type='text' name='industryType' [(ngModel)]='userModel.industryType' >
                </div>
                <div class="py-2">
                    <div class="align-self-baseline">Password</div>
                    <input class="input" type='password' name='password' [(ngModel)]='userModel.password' >
                </div>
                <button class="btn btn-primary mt-4" (click)="login()">Register</button>
            </div>
            
            <div class="py-2 px-3 text-center">By signing up, you are agreeing to our <span class="heighlight">Terms & Conditions</span> and <span class="heighlight">Privacy Policy.</span></div>
        </div>
    </div>
    <div class="col-8" style="background-color: #DAF5F4;
    ;">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <img src="assets/left-image.png">
        </div>
    </div>
</div>


