<div  class="d-flex sidebar flex-column flex-nowrap flex-between h-100">
    <span  class="d-flex flex-column flex-nowrap h-100">
       <span   class="action-items action-item-selected">
          <div   class="d-flex flex-column align-items-center"><i   style="font-size: 30px;" class="ri-dashboard-line"></i><span   class="Milliard-Medium-13 text-color-primary action-item-selected">Dashboard</span></div>
          <span   class="action-item-line action-item-line-selected"></span>
       </span>
       <span   class="action-items">
          <div   class="d-flex flex-column align-items-center"><i   style="font-size: 30px;" class="ri-settings-2-line"></i><span   class="Milliard-Medium-13 text-color-primary">Settings</span></div>
          <span   class="action-item-line"></span>
       </span>
       <!---->
    </span>
    <span   class="version-container Milliard-Medium-13 text-color-secondary"> V 1.10.10 </span>
 </div>