/* You can add global styles to this file, and also import other style files */

// default colors
body,html {
    --color: #CCC;
    --backgroundColor: #f6f8fb;
    --loginColor: #FFF;
    --loginBackground: #01bf86;
    --cardColor: #394453;
    --cardBackground: #fbfbfb;
    --buttonColor: #ffffff;
    --buttonBackground: #01bf86;
    --navColor: #01bf86;
    --navBackground: #ffffff;
}
// pass variables into a sass map
$variables: (
    --cardColor: var(--cardColor),
    --cardBackground: var(--cardBackground),
    --buttonColor: var(--buttonColor),
    --buttonBackground: var(--buttonBackground),
    --navColor: var(--navColor),
    --navBackground: var(--navBackground),
    --footerColor: var(--footerColor),
    --footerBackground: var(--footerBackground),
    --footerAlignment: var(--footerAlignment)
);

@function var($variable) {
    @return map-get($variables, $variable);
}

input{
    width:100%;
    border:1px solid #D9D9D9;
    border-radius:6px;
    margin:3px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input:focus{
    border-color:#01BAB3;
    box-shadow:0 0 8px 0 #01BAB3
    ;
  }

  button{ 
    width:100%;
    margin:4px 0;
    padding:8px;
    color: #ffffff;
    background-color: #01BAB3;
    border-radius:6px;
    border-color:#01BAB3;
  }

  button:focus{
    background-color: #089E99;
    border-color:#01BAB3;
    box-shadow:0 0 8px 0 #01BAB3
    ;
  }

  button:hover{
    background-color: #089E99;
  }